@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 3.2rem;
    font-family: "Kaushan Script";
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.1rem;
}

body {
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-flow: column wrap;
}

.wrapper > header {
    display: flex;
    width: 100%;
    height: 7vh;
    margin: 2vh auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    -webkit-box-shadow: -2px 19px 43px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 19px 43px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 19px 43px -15px rgba(0, 0, 0, 0.75);
}

.wrapper > header h1 {
    margin-left: 2vw;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0 10px;
}

.wrapper > header a {
    text-decoration: none;
}

.wrapper > main {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 3vh 0;
}

.wrapper > footer {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    color: #000;
    margin-top: 3vh;
}

/*---------------------------- main content ---------------------------- */
.main-content {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.main-content > header {
    width: 100%;
    height: 300px;   
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}

.sprite-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    height: 290px; 
    transform: rotate(-5deg);
    margin-right: 10px;
    position: relative;
    top: -33px;
}

.sprite-col:last-child {
    top: -30px;
    left: 5px;
}

.content {
    overflow: hidden;
    transform: rotate(-5deg);
    height: 400px;
    position: relative;
    top: -60px
}

.sprite-row {
    display: flex;
    flex-direction: row;
}

.sprite-img {
    border-radius: 5px;
    background-size: 1100%;
    width: 25px;
    height: 25px;
    background-image: url(../img/social-sprite.png);
    margin: 9px;
}

.sprite-img1 {
    background-position: 0px -100px;   
}

.sprite-img2 {
    background-position: -25px -100px;   
}

.sprite-img3 {
    background-position: -50px -100px;   
}

.sprite-img4 {
    background-position: -75px -100px;   
}

.sprite-img5 {
    background-position: -100px -100px;   
}

.sprite-img6{
    background-position: -125px -100px;   
}

.sprite-img7 {
    background-position: -150px -100px;   
}

.sprite-img8 {
    background-position: -175px -100px;   
}

.sprite-img9 {
    background-position: -200px -100px;   
}

.sprite-img10 {
    background-position: -225px -100px;   
}

.sprite-img11 {
    background-position: -250px -100px;   
}

/*----------------------------logo------------------------------ */
.logo-wrapper {
    width: 40%;
    height: 100px;
    background-color: #fff;
    padding: 6px;
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 40%;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    border: 3px solid #000;
    height: 100%;
    box-sizing: border-box;
}

.logo h1 {
    margin: 20px 0;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
}

.main-content > main {
    display: flex;
    flex-flow: column;
    height: 400px;
    padding: 10px;
}

.item {
    padding: 10px 0 10px 50px;
    height: 170px;
    border: 1px solid #d0d2cf;
}

.item:last-child {
    background-color: #000;
    opacity: .8;
    margin-top: 10px;
}

form  input[type="button"]{
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    border: 0;
    padding: 10px 10px;
    margin-right: 5px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

form p {
    margin: 10px 0;
}

#first-btn {
    background-color: rgb(232,80,169);
    line-height: 1;
    font-size: 2rem;
}

#second-btn {
    background-color: rgb(158,196,37);
    line-height: .5;
    font-size: 1.3rem;
}

#third-btn {
    background-color: rgb(76,149,231);
    line-height: .4;
    font-size: 1.3rem;
}

#fourth-btn {
    background-color: rgb(232,69,69);
    line-height: 1;
    font-size: 1.3rem;
}

#fifth-btn {
    background-color: rgb(255,110,29);
    line-height: .1;
    font-size: 1.3rem;
}

#sixth-btn {
    background-color: rgb(255,189,47);
    line-height: .4;
    font-size: 1.3rem;
}