@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.1rem;
}

body {
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-flow: column wrap;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 7vh;
    margin-top: 2vh;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    -webkit-box-shadow: -2px 19px 43px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 19px 43px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 19px 43px -15px rgba(0, 0, 0, 0.75);
}

header h1 {
    margin-left: 2vw;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

header a{
    text-decoration: none;
}

main {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

footer {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    color: #000;
}

.form-action {
    display: flex;
    flex-flow: column wrap;
    background: #fff;
    width: 490px;
    padding: 20px 0px 40px 20px;
    font-weight: 600;
    font-size: 1.4rem;
}


label {
    margin-bottom: 5px;
    font-weight: 700;
}

mark {
    background: #dedec3;
}

.form-action input[type="text"] {
    padding: 3px 5px 3px 10px;
    font-size: 1.4rem;
    border: 1px solid #c0bdbd;
    width: 390px;
}

input[id="field"] {
    margin-bottom: 25px;
}

input,
option {
    font-weight: 600;
}

fieldset input[type="text"] {
    background: transparent;
    color: #000;
}

.form-action select {
    margin-bottom: 25px;
    width: 130px;
    border-radius: 5px;
    padding: 3px 5px 3px 10px;
    font-size: 1.4rem;
    border: 1px solid #c0bdbd;
}

fieldset {
    border: 1px solid #c0bdbd;
    padding: 5px;
    width: 460px;
    margin-bottom: 20px;
}

fieldset p {
    line-height: 30px;
}

.form-action input[type="radio"] {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 1px;
    left: 2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 1px;
    left: 2px;
    position: relative;
    background-color: rgb(0, 133, 186);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

.form-action input[type="reset"] {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/cross.png);
    opacity: .4;
}

.form-action input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-appearance: none;
    border: 1px solid #c0bdbd;
    overflow: hidden;
}

.form {
    margin-bottom: 25px;
    line-height: 1.4;
}

input[type='checkbox']:checked:after {
    width: 14px;
    height: 13px;
    top: 1px;
    left: 3px;
    position: relative;
    background-image: url(../img/tick.svg);
    content: '';
    display: inline-block;
    visibility: visible;
}


input[type="submit"] {
    width: 100px;
    padding: 6px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(0, 133, 186);
    border-radius: 2px;
    color: #fff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
    border: 0;
}
